html
{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body
{
    margin: 0;
}

*, *::after, *::before
{
    box-sizing: inherit;
}

.header1
{
    background-color: #C8A35F;
    height: 45px;
}

.header1-content
{
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.header1-clickable
{
    color: white;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header1-clickable:hover
{
    text-decoration: underline;
}

.header2
{
    background-color: #2F343A;
    height: 100px;
    padding-top: 27px;
}

.header2-content
{
    margin: 0 auto;
    max-width: 1480px;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header2-clickable
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.header2-clickable:hover
{
    text-decoration: underline;
}

.logo
{
    display: flex;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.05em;
    color: white;
    gap: 15px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.logo-stick
{
    width: 46px;
    height: 0px;
    border: 1px solid #F2F2F2;
    transform: rotate(90deg);
}

.header2-buttons
{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.main-text
{
    height: 620px;
    background-image: url(./sources/pictures/background-1.png);
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-div
{
    border: #C8A35F solid 1px;
    width: 50%;
    padding: 45px;
}

.main-text1
{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    margin-bottom: 45px;
}

.main-text2
{
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.truck-choose
{
    background-color: rgba(47, 52, 58, 0.75);
    height: 561px;
    background: linear-gradient(90deg, rgba(47, 52, 58, 0.95) 0% 35%, rgba(47, 52, 58, 1) 35% 65%, rgba(47, 52, 58, 0.95) 65% 100%);
    display: flex;
    align-items: center;
}

.text-buttons
{
    display: flex;
    margin: 0 auto;
    max-width: 1700px;
    align-items: center;
    gap: 70px;
}

.europe-trucking
{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.europe-trucking-h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
}

.europe-trucking-h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: white;
}

.europe-trucking-button
{
    background-color: #C8A35F;
    color: white;
    width: 220px;
    height: 55px;
    text-align: center;
    font-family: Roboto, sans-serif;
    border: none;
}

.europe-trucking-button:hover
{
    background-color: #f7c976;
    color: black;
}

.europe-trucking-square
{
    background-color: #C8A35F;
    width: 90px;
    height: 6px;
}  

.truck-next
{
    display: flex;
}

.truck-picture
{
    display: block;
}

.next-back
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #C8A35F;
}

.next-back-button
{
    margin: 10px;
}

.all-services
{
    margin: 0 auto;
    background-color: #2F343A;
    display: flex;
    align-items: center;
    padding: 120px 0;
}

.services-flex
{
    display: flex;
    margin: 0 auto;
    width: 60%;
    gap: 20px;
    flex-direction: column;
    
}   

.services-h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    display: flex;
    gap: 50px;
}

.services-ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3px;
}

.services-avia
{
    background-color: rgb(57, 62, 68);
    color: white;
    width: 276px;
    height: 180px;
    display: flex;
    gap: 23px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.services-avia:hover
{
    background-color: #C8A35F;
    cursor: pointer;
    width: 270px;
    height: 174px;
    margin: 3px;
}

.about
{
    background-color: rgba(47, 52, 58, 0.75);
    padding: 120px 0;
    background: linear-gradient(90deg, rgba(47, 52, 58, 1) 0% 35%, rgba(47, 52, 58, 0.95) 35% 65%, rgba(47, 52, 58, 1) 65% 100%);
    display: flex;
    align-items: center;
}

.about-p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: white;
}

.advantage
{
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
    font-family: 'Roboto';
    font-style: normal;
    text-align: center;
    max-width: 700px;
}

.adv-text
{
    width: 200px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
}

.adv-h2
{
    font-weight: 700;
    font-size: 64px;
    line-height: 75px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.adv-h4
{
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
}

.adv-p
{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.adv-pic1
{
    width: 200px;
    height: 160px;
    background-image: url(sources/pictures/rectangle-1.png);
    background-size: cover;
}

.adv-pic2
{
    width: 200px;
    height: 160px;
    background-image: url(sources/pictures/rectangle-3.jpg);
    background-size: cover;
}

.adv-pic3
{
    width: 200px;
    height: 160px;
    background-image: url(sources/pictures/rectangle-2.png);
    background-size: cover;
}

.adv-img
{
    background-size: cover;
}

.about-text 
{
    display: flex;
    margin: 0 auto;
    max-width: 1700px;
    align-items: center;
    gap: 60px;
}

.botton-header
{
    height: 161px;
    margin: 0 auto;
    width: 100%;
    background-color: #C8A35F;
}

.bottom-content
{
    margin: 0 auto;
    max-width: 1480px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: white;
}

@media (max-width: 1000px)
{
    .truck-next
    {
        display: none;
    }

    .about-text
    {
        flex-direction: column;
    }

    .text-div
    {
        width: 100%;
    }
}